<header class="navbar navbar-fixed-top">
  <div class="container">
    <div class="text-center text-white">
      <h1>Rails開発日記</h1>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "BLOG", blogs_path %></li>
        <li><%= link_to "PROFILE", profile_index_path %></li>
      </ul>
    </nav>
  </div>
</header>